{% extends 'base.html' %}

{% block content %}
<h2>Уведомления</h2>

{% if notifications %}
    <ul>
        {% for notification in notifications %}
            <li>
                {{ notification.message }} - {{ notification.created_at|date:"d M Y H:i" }}
                {% if not notification.read %}
                    <strong>✓</strong>
                    <a href="{% url 'mark_notification_as_read' notification_id=notification.id %}">Отметить как прочитанное</a>
                {% else %}
                <strong>✓✓</strong>
                {% endif %}
                
                {% if notification.link %}
                    <p><a href="{{ notification.link }}">Прикрепленная ссылка</a></p>
                {% endif %}
                    
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>У вас нет уведомлений.</p>
{% endif %}
<a href="{% url 'user_meetings' %}">Назад к встречам</a>
{% endblock %}
