{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Настройки профиля</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <p><a href="{% url 'users:profile' %}">Вернуться к профилю</a></p>
</div>


{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">
    <script>
        $(function() {
            $('#id_birth_date').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0"
            });
        });
    </script>
{% endblock extra_js %}
    

{% endblock %}
