{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<h1>My Events</h1>
<a href="{% url 'event_create' %}">Create new event</a>
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a>
            ({{ event.date }})
            <a href="{% url 'event_edit' event.pk %}">Edit</a>
            <a href="{% url 'event_delete' event.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
